@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --cor-principal: #16425B;
    --cor-secundaria: #3B7CA6;
}

.destaque{
    background: linear-gradient(90deg, #81c1d7, #9bf8cc, #81c1d7);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 500;
}

.destaque2{
    background: linear-gradient(90deg, #81c1d7, #9bf8cc, #81c1d7);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: aliceblue;
}


/****************************NAVBAR*********************************************************************/

header{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap:1rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    
}

li a:hover {
    text-decoration: underline;
}

#logo img{
    width: 7rem;
    height: auto;
}

/*************************HOME*********************************************************************/

#home{
    display: flex;
    background-color: #16425B;
    height: 68vh;
}

#texto-home{                      /*div do texto*/
    display: flex;
    flex-direction: column;       
    justify-content: center;
    padding: 0rem 2rem;
    width: 65rem;
}

#home h1 {
    font-size: 2.5rem;
    font-weight: 600;
}



/****imagem****/

#imagem-home{
    display: flex;
}

#home img{
    width: 100%;
    height: auto;
}

/***botoes***/

#botao-fale-conosco{
    padding: 0.625rem 1.25rem;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}